@import "variables";

#feedback {
  .section-container {
    .section-content {
      span {
        font-family: $primary-font;
        font-weight: bold;
        color: $primary-color;
      }
    }
  }
}
