@import "variables";

.sticky {
  padding: 20px 50px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-dark-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  padding: 30px 50px;
  z-index: 10;

  a {
    color: $white-color;
    font-family: $primary-font;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
    list-style: none;
  }
  .mainMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      position: relative;
      list-style: none;
      a {
        position: relative;
        margin: 0 15px;
        font-size: 16px;
        line-height: 28px;
        text-decoration: none;
        letter-spacing: 0.2px;
        font-weight: 400;
      }
      a:hover {
        color: $primary-color;
        transition: all 0.3s ease;
      }
    }
  }
  .open-menu {
    color: $white-color;
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  .close-menu,
  .icons i {
    color: $white-color;
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
}

@media (max-width: 1060px) {
  header {
    .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000000;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $bg-light-color;
      transition: top 1s ease;
      display: none;
      li {
        margin-top: 30px;
      }
    }
    .close-menu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .open-menu {
      display: block;
    }
  }
}
