/*--- Font ---*/
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Mulish", sans-serif;

/*--- Color ---*/
$primary-color: #ff9800;
$gray-color: #a7afbd;
$white-color: #fff;
$black-color: #070808;
$bg-dark-color: #303134;
$bg-light-color: #4a4b50;
