* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--- Import file scss ---*/
/*--- Font ---*/
/*--- Color ---*/
section:not(:first-child) {
  background-color: #4a4b50;
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
section:not(:first-child) .section-body {
  padding: 140px 0px 140px 0px;
}
section:not(:first-child) .section-body .section-container {
  max-width: 1250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0px 40px;
  position: relative;
  clear: both;
}
section:not(:first-child) .section-body .section-container .section-title span {
  display: inline-block;
  color: #ff9800;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}
section:not(:first-child) .section-body .section-container .section-title h3 {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
}
section:not(:first-child) .section-body .section-container .section-content {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-bottom: 140px;
}
section:not(:first-child) .section-body .section-container .section-content p {
  line-height: 2;
  color: #a7afbd;
  margin: 40px 0px;
}
section:not(:first-child) .section-body .section-container .section-content h4 {
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

section:nth-child(odd) {
  background-color: #303134;
}

section:nth-child(even) {
  background-color: #4a4b50;
}

#it_work {
  background-color: black;
}

/*--- Font ---*/
/*--- Color ---*/
/*--- Font ---*/
/*--- Color ---*/
.sticky {
  padding: 20px 50px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #303134;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  padding: 30px 50px;
  z-index: 10;
}
header a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
  list-style: none;
}
header .mainMenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mainMenu li {
  position: relative;
  list-style: none;
}
header .mainMenu li a {
  position: relative;
  margin: 0 15px;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  letter-spacing: 0.2px;
  font-weight: 400;
}
header .mainMenu li a:hover {
  color: #ff9800;
  transition: all 0.3s ease;
}
header .open-menu {
  color: #fff;
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
header .close-menu,
header .icons i {
  color: #fff;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 1060px) {
  header .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4a4b50;
    transition: top 1s ease;
    display: none;
  }
  header .mainMenu li {
    margin-top: 30px;
  }
  header .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header .open-menu {
    display: block;
  }
}
/*--- Font ---*/
/*--- Color ---*/
#teamprofile {
  min-height: 100vh;
  background-color: #303134;
  font-family: "Open Sans", sans-serif;
}
#teamprofile .container {
  max-width: 1250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0px 40px;
  position: relative;
}
#teamprofile .container .content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
#teamprofile .container .content .left {
  width: 50%;
  padding-right: 50px;
  position: relative;
}
#teamprofile .container .content .left .name {
  font-size: 18px;
  line-height: 28px;
  color: #ff9800;
  font-weight: 500;
}
#teamprofile .container .content .left .subject {
  color: #fff;
  font-size: 45px;
  font-weight: 800;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 16px;
}
#teamprofile .container .content .left .members {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 35px;
}
#teamprofile .container .content .left .members ul li i {
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
  left: 10px;
  transition: all 0.1s ease;
}
#teamprofile .container .content .left .members ul li a {
  font-size: 17px;
  display: inline-block;
  padding: 8px 0px;
  position: relative;
  transition: all 0.3s ease;
}
#teamprofile .container .content .left .members ul li a:hover {
  color: #ff9800;
}
#teamprofile .container .content .left .members ul li a:hover i {
  transform: rotate(-30deg);
}
#teamprofile .container .content .left .short_info {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
#teamprofile .container .content .left .short_info h3 {
  color: #a7afbd;
  font-size: 35px;
  font-weight: 200;
}
#teamprofile .container .content .right {
  width: 50%;
  text-align: center;
  position: relative;
}
#teamprofile .container .content .right .image img {
  max-width: 80%;
  background-color: #ff9800;
  border-radius: 10px;
  box-shadow: 0 0 40px #fff;
}

@media (max-width: 1060px) {
  .container .content {
    display: flex;
    flex-direction: column;
  }
  .container .content .left {
    margin-top: 10vh;
    width: 100%;
  }
  .container .content .right {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}
/*--- Font ---*/
/*--- Color ---*/
#tools {
  background-color: #4a4b50;
}
#tools .section-content ul li {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#tools .section-content ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin: 2vh 2vh;
}
#tools .section-content ul li:hover a {
  color: #ff9800;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 100000;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid #a7afbd;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #ff9800;
}

.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.bg-modal .modal-box {
  border-radius: 8px;
  background-color: #4a4b50;
  position: absolute;
  top: 70px;
  bottom: 70px;
  width: 970px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
  transition: all 0.3s ease;
}
.bg-modal .modal-box .inner-content {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  padding: 50px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
  font-weight: 400;
}
.bg-modal .modal-box .inner-content .modal-close {
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100px;
  text-decoration: none;
}
.bg-modal .modal-box .inner-content img {
  position: relative;
  margin-bottom: 37px;
  border-radius: 8px;
}
.bg-modal .modal-box .inner-content .title {
  width: 100%;
  float: left;
  margin-bottom: 22px;
}
.bg-modal .modal-box .inner-content .description {
  color: #a7afbd;
}
.bg-modal .modal-box .inner-content .description p {
  margin-bottom: 15px;
}

.image-css {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-modal:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .bg-modal .modal-box .inner-content {
    width: 300px;
  }
}
@media (max-width: 1040px) {
  .bg-modal .modal-box .inner-content {
    width: 500px;
  }
}
@media (max-width: 1400px) {
  .bg-modal .modal-box .inner-content {
    width: 700px;
  }
}
/*--- Font ---*/
/*--- Color ---*/
#feedback .section-container .section-content span {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #ff9800;
}

/*--- Container ---*/
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

#black-section {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
